.idea/
__pycache__
.venv/

*.o
*.obj
*.lo
*.slo

*.d

*.so
*.dylib
*.dll

*.a
*.la
*.lib

*.exe
*.out
*.app
*.elf

*.dSYM/
*.su
.deps/
.libs/

reluplex/glpk-4.60/.libs/
reluplex/glpk-4.60/src/**/*.o
reluplex/glpk-4.60/src/**/*.lo
reluplex/glpk-4.60/**/*.la

reluplex/check_properties/bin/*.elf
reluplex/check_properties/**/*.o
reluplex/check_properties/**/*.d
reluplex/*.elf

reluplex/logs/*.txt